<footer id="footer" class="footer">
  <section class="social__wrapper">
    <div class="social content--wrapper">
      <div class="social__icons">
        <p>siguenos en:</p>
        <div class="social__icons--wrapper">
          <a href="https://instagram.com/comercializadoraestandartextil?igshid=1soh8qb833s68" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/Comercializadora-Est%C3%A1ndar-Textil-104685177915194" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </div>
      </div>
      <div class="social__email">
        <label for="email">dejanos tu correo</label>
        <div class="social__email--wrapper">
          <input type="email" name="email" id="email" placeholder="Ingresa aqui tu correo"></textarea>
          <button>enviar</button>
        </div>
      </div>
    </div>
  </section>
  <section class="footer__info">
    <div class="footer__location">
      <h3>ubicacion</h3>
      <p>Bogota, Colombia</p>
    </div>
    <div class="footer__other">
      <div class="footer__details">
        <p>Envios a nivel nacional e internacional</p>
        <h1>estandar textil</h1>
      </div>
      <p class="footer__rights">
        2021 Developing S.A.S. Todos los derechos reservados.
      </p>
    </div>
  </section>
</footer>
