<header id="header" class="nav">
  <nav class="navbar__nav">
    <a class="nav__brand" href="/">
      <img src="/images/estandar-textil-logo.svg" alt="" class="nav__logo" />
      <h1 class="nav__title">Estandar Textil</h1>
    </a>
    <div class="nav__list">
      <a href="/about" class="nav__link">Nosotros</a>
      <a href="/products" class="nav__link">Colecciones</a>
      <a
        href="https://api.whatsapp.com/send/?phone=573108091434"
        class="nav__link"
        target="_blank"
        >Contactenos</a
      >
    </div>
    <div class="nav__burger">
      <span class="nav__burger__icon--container nav__burger--open">
        <i class="nav__burger__icon fas fa-bars"></i>
      </span>
      <span class="nav__burger__icon--container nav__burger--closed is-hidden">
        <i class="nav__burger__icon far fa-window-close"></i>
      </span>
    </div>
  </nav>
</header>
